$black: #1d1d1b;
$text-link: #007bff;
$yellow: #ffd008;
$redorange:#fc4c4c;
$aquamarine: #71e5bd;
$salmon: #fe8075;
$blue: #5a6ecc;
$darkgray: #646363;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;