@layer components {
  &.email-banner-overlay {
    &::before {
      content: "Great, we've got your details and will be in touch with news on this product.";
      font-size: 1.075rem;
      @apply absolute inset-0 flex items-center justify-center p-5 text-center z-1;
    }

    &:not(.dark)::before {
      @apply bg-white;
    }

    &.dark::before {
      background-color: #5a6cc0;
      color: white;
    }
  }

  .x-line {
    width: 91px;
    height: 7px;
    @apply bg-aquamarine rounded;
  }

  .link-underlined {
    @apply border-b border-gray-400 transition duration-300;

    &:hover {
      @apply opacity-100 border-black;
    }
  }
}

h1 {
  line-height: 1.3;
}

.h-50 {
  height: 50%;
}

@import "variables";

@font-face {
  font-family: "plus jakarta";
  src: url(~static/fonts/PlusJakartaSans-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "plus jakarta bold";
  src: url(~static/fonts/PlusJakartaSans-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "plus jakarta extra bold";
  src: url(~static/fonts/PlusJakartaSans-ExtraBold.woff2) format("woff2");
  font-display: swap;
}

html {
  font-size: 14px;
}

body {
  font-family: "plus jakarta";
  color: $black;
}

p {
  margin-bottom: 0.5rem;
}

.mt-from-header {
  margin-top: 3.5rem;
}

.font-family-bold {
  // font-family: CircularStd-Bold;
  font-family: "plus jakarta bold";
}

.h-screen-minus-header {
  height: calc(100vh - 3.5rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: transform 0.5s, opacity 0.5s;
}
.scale-enter,
.scale-leave-to {
  transform: scale(0);
  opacity: 0;
}

.slideY-enter-active,
.slideY-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slideY-enter,
.slideY-leave-to {
  transform: translateY(15rem);
}

.grid-cols-span {
  grid-column: 1/-1;
}

.carouselDots {
  max-height: 20rem;
  max-width: 20rem;
}

.carousel-3d-controls {
  display: none;
}

.hub-cards {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.required::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.async-hide {
  opacity: 0 !important;
}

.cld-image {
  img {
    height: 100%;
    width: 100%;
  }

  &:not(.cover) img {
    object-fit: contain;
  }

  &.cover img {
    object-fit: cover;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input-underlined {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &::after {
    background-color: $blue;
    height: 2px;
    width: 0;
    transition: width 300ms;
  }

  &.active::after {
    width: 100%;
  }

  &::before {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Small (sm) */
@media (min-width: $sm) {
}

/* Medium (md) */
@media (min-width: $md) {
  html {
    font-size: 15px;
  }

  .carousel-3d-controls {
    display: block;
  }
}

/* Large (lg) */
@media (min-width: $lg) {
  html {
    font-size: 16px;
  }
}

/* Extra Large (xl) */
@media (min-width: $xl) {
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
